<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather-icon.png">
  <link rel="stylesheet" href="./css/style.css">
  <title>Coleman Weather Application</title>
</head>
<body>
  <main>
    <header>{{>header}}</header>

    <article>
      <br><br>
      <p>This NodeJS application was created by {{name}}. It uses the weatherstack and mapbox APIs</p>
      <br><br>
      <img src="./img/lala.jpeg" alt="baby girl">
      <h3>{{name}}</h3>
      <p>{{msg}}</p>
      <br><br>
    </article>
  </main>

  <footer>{{>footer}}</footer>
</body>
</html>