/* text #310A31*/
/* lighttext #847996 */
/* main #88B7B5*/
/* secondary #A7CAB1 */
/* background #F4ECD6 */

body {
  color: #847996;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  width: 80vw;
  margin: 0 auto;
  flex-grow: 1;
}

header {
  color: #310A31;
  background: #9edfe7;
  text-align: center;
  width: 100%;
  padding: 50px 0;
  border-radius: 15px;
  box-shadow: 2px 2px 1px lightgrey;
}

a {
  color: #310A31;
  text-decoration: none;
}

a:hover {
  opacity: 60%;
}

img {
  border-radius: 25%;
  box-shadow: 5px 3px 2px lightgrey;
}

.links {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

footer {
  background: #F4ECD6;
  width: 100vw;
  height: 10vh;
}

